XlsxWriter==1.2.7
backoff==1.10.0
certifi==2019.11.28
chardet==3.0.4
django-ratelimit2==0.4.2
idna==2.8
limits==1.4.1
numpy==1.18.1
pandas==0.25.3
psycopg2==2.8.4
python-dateutil==2.8.1
pytz==2019.3
ratelimit==2.2.1
requests==2.22.0
setuptools==45.0.0
six==1.13.0
urllib3==1.25.7
